{
  "presets": [
    "@babel/preset-env",
    "@babel/react"
  ],
  "plugins": [
    "module:@babel/plugin-proposal-class-properties",
    "module:babel-plugin-transform-es2015-modules-commonjs"
  ]
}
